{{ if .Site.Params.options.collapsibleSidebar -}}
  <ul class="list-unstyled collapsible-sidebar">
  {{ $currentPage := . -}}
  {{ with index (where $.Site.Menus.docs "Identifier" "visual-elements") 0 -}}
    <li class="mb-1">
      <h3>{{ .Name }}</h3>
      <ul class="list-unstyled">
        {{ range sort .Children "Weight" -}}
          {{ partial "sidebar/docs-menu-item.html" (dict "currentPage" $currentPage "item" . "collapsible" true) }}
        {{ end -}}
      </ul>
    </li>
  {{ end -}}
  {{ with index (where $.Site.Menus.docs "Identifier" "data") 0 -}}
    <li class="mb-1">
      <h3>{{ .Name }}</h3>
      <ul class="list-unstyled">
        {{ range sort .Children "Weight" -}}
          {{ partial "sidebar/docs-menu-item.html" (dict "currentPage" $currentPage "item" . "collapsible" true) }}
        {{ end -}}
      </ul>
    </li>
  {{ end -}}
  {{ with index (where $.Site.Menus.docs "Identifier" "operations") 0 -}}
    <li class="mb-1">
      <h3>{{ .Name }}</h3>
      <ul class="list-unstyled">
        {{ range sort .Children "Weight" -}}
          {{ partial "sidebar/docs-menu-item.html" (dict "currentPage" $currentPage "item" . "collapsible" true) }}
        {{ end -}}
      </ul>
    </li>
  {{ end -}}
  </ul>
{{ else -}}
  {{ $currentPage := . -}}
  {{ with index (where $.Site.Menus.docs "Identifier" "visual-elements") 0 -}}
    <li class="mb-1">
      <h3>{{ .Name }}</h3>
      <ul class="list-unstyled">
        {{ range sort .Children "Weight" -}}
          {{ partial "sidebar/docs-menu-item.html" (dict "currentPage" $currentPage "item" . "collapsible" false) }}
        {{ end -}}
      </ul>
    </li>
  {{ end -}}
  {{ with index (where $.Site.Menus.docs "Identifier" "data") 0 -}}
    <li class="mb-1">
      <h3>{{ .Name }}</h3>
      <ul class="list-unstyled">
        {{ range sort .Children "Weight" -}}
          {{ partial "sidebar/docs-menu-item.html" (dict "currentPage" $currentPage "item" . "collapsible" false) }}
        {{ end -}}
      </ul>
    </li>
  {{ end -}}
  {{ with index (where $.Site.Menus.docs "Identifier" "operations") 0 -}}
    <li class="mb-1">
      <h3>{{ .Name }}</h3>
      <ul class="list-unstyled">
        {{ range sort .Children "Weight" -}}
          {{ partial "sidebar/docs-menu-item.html" (dict "currentPage" $currentPage "item" . "collapsible" false) }}
        {{ end -}}
      </ul>
    </li>
  {{ end -}}
{{ end -}}